html{
    background-image: linear-gradient( 180deg, #618264, #79AC78, rgb(176, 217, 177), rgb(208, 231, 210));
    padding: 10px;
    bottom: auto;
    box-sizing:  border-box;
    background-repeat: no-repeat;
}

*, *:before, *:after{
    /*box-sizing: inherit;*/
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

body{    
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    background:rgba(0,0,0,0.4);
    border-radius: 12px;
}

.card{
    background-color: white;
    margin: 10px auto;
    float: left;  
}